<ul>
  <li><%= @coffee.name %></li>
  <li>Preparation method: <%= @coffee.prep_method %></li>
  <li>Origin: <%= @coffee.origin %></li>
  <li>Roast: <%= @coffee.roast %></li>
  <li>Rating: <%= @coffee.rating %></li>
  <li>Notes: <%= @coffee.notes %></li>
</ul>
<h4>Edit coffee</h4>
<form method="POST" action="/coffees/<%= @coffee.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Coffee name:</label>
  <input type="text" name="name" id="coffee[name]" placeholder="<%=@coffee.name%>" required>
  <br>
  <label>Add to list:</label>
  <select name="coffee_list_id" id="coffee[coffee_list_id]" required>
  <% current_list_id = @coffee.coffee_list_id %>
  <% current_list = CoffeeList.find_by_id(current_list_id) %>
    <option value="" disabled selected><%= current_list.list_name %></option>
  <% @list_options = current_user.coffee_lists.all %>
  <% @list_options.each do |list| %>
    <option value="<%= list.id %>"><%= list.list_name %></option>
  <%end%>
  </select>
  <br>
  <label for="prep_method">Preparation method:</label>
  <select name="prep_method" id="coffee[prep_method]" required>
    <option value="" disabled selected><%=@coffee.prep_method%></option>
    <option value="Espresso">Espresso</option>
    <option value="Pourover">Pourover</option>
    <option value="Drip">Drip</option>
    <option value="Other">Other</option>
  </select>
  <br>
  <label for="roast">Roast type:</label>
  <select name="roast" id="coffee[roast]" placeholder="<%=@coffee.roast%>" required>
    <option value="" disabled selected><%=@coffee.roast%></option>
    <option value="Light">Light</option>
    <option value="Medium">Medium</option>
    <option value="Medium Dark">Medium Dark</option>
    <option value="Dark">Dark</option>
  </select>
  <br>
  <label for="origin">Origin:</label>
  <input type="text" name="origin" id="coffee[origin]" placeholder="<%=@coffee.origin%>" required>
  <br>
  <label for="rating">Rating:</label>
  <select name="rating" id="coffee[rating]" placeholder="<%=@coffee.rating%>" required>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br>
  <label for="notes">Notes:</label>
  <textarea name="notes" id="coffee[notes] rows="10" cols="30" placeholder="<%=@coffee.notes%>"></textarea>
  <input type="submit" value="Save">
</form>