<div class="col w-100">
  <div class="row m-auto">
    <h6 class="karla-style">
      <strong><%= @coffeelist.list_name %></strong>
      <br>
      <small class="text-muted"><%= @coffeelist.coffees.count %> <%="coffee".pluralize(@coffeelist.coffees.count)%></small>
      <br>
      <a class="karla-style btn btn-success m-auto" href="/coffees/new"><i class="far fa-plus-square"></i> Add coffee</a>
    </h6>
  </div>
</div>
<div class="container mb-5">
  <div class="row justify-content-center">
    <% @coffeelist.coffees.each do |listed_coffee| %>
      <div class="col-md-6 col-lg-4 col-xl-4" style="width: 30rem;">
        <div class="card mb-4">
          <div class="card-header bg-dark text-truncate karla-style">
            <span class="card-title text-white text-uppercase"><%= listed_coffee.name %></span>
          </div>
          <div class="card-body karla-style">
            <dl class="row">
              <dt class="col-sm-6">Prep Method</dt>
              <dd class="col-sm-6"><%= listed_coffee.prep_method %></dd>
              <dt class="col-sm-6">Origin</dt>
              <dd class="col-sm-6"><%= listed_coffee.origin %></dd>
              <dt class="col-sm-6">Roast</dt>
              <dd class="col-sm-6"><%= listed_coffee.roast %></dd>
              <dt class="col-sm-6">User rating</dt>
              <dd class="col-sm-6"><%= listed_coffee.rating %></dd>
              <dt class="col-sm-6">Notes</dt>
              <dd class="col-sm-12 text-truncate"><p><%= listed_coffee.notes %></p></dd>
            </dl>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <form method="GET" action='/coffees/<%= listed_coffee.id %>/edit'>
                  <input class="karla-style btn btn-dark form-control btn-block" type="submit" name="submit" value="Edit coffee">
                </form>
              </div>
            <div class="col-sm-6">
              <form method="POST" action='/coffees/<%= listed_coffee.id %>/delete'>
                <input type="hidden" name="_method" value="DELETE">
                <input class="karla-style btn btn-danger form-control btn-block" type="submit" value="Delete coffee">
              </form>
            </div>
          </div>     
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>