<h4><%= @coffeelist.list_name %></h4>
<% @coffeelist.coffees.each do |listed_coffee| %>
<br>
<div class="container-fluid">
<ul>
  <li style="list-style-type: none;"><h5><%= listed_coffee.name %></h5></li>
  <li style="list-style-type: none;">Preparation method: <%= listed_coffee.prep_method %></li>
  <li style="list-style-type: none;">Origin: <%= listed_coffee.origin %></li>
  <li style="list-style-type: none;">Roast: <%= listed_coffee.roast %></li>
  <li style="list-style-type: none;">Rating: <%= listed_coffee.rating %></li>
  <li style="list-style-type: none;">Notes: <%= listed_coffee.notes %></li>
</ul>
<form method="GET" action="/coffees/<%= listed_coffee.id %>/edit">
  <input class="btn btn-info" type="submit" name="submit" value="Edit coffee">
</form>
<form method="POST" action='/coffees/<%=listed_coffee.id%>/delete'>
  <input type="hidden" name="_method" value="DELETE">
  <input class="btn btn-danger" type="submit" value="Delete coffee">
</form>
</div>
<% end %>
<br>
<a class="btn btn-success" href='/coffees/new'>Add a coffee</a>
<br>