<br>
<%= @coffeelist.list_name %>
<% @coffeelist.coffees.each do |listed_coffee| %>
<br>
<ul>
  <li><%= listed_coffee.name %></li>
  <li>Preparation method: <%= listed_coffee.prep_method %></li>
  <li>Origin: <%= listed_coffee.origin %></li>
  <li>Roast: <%= listed_coffee.roast %></li>
  <li>Rating: <%= listed_coffee.rating %></li>
  <li>Notes: <%= listed_coffee.notes %></li>
</ul>
<br>
<form method="GET" action="/coffees/<%= listed_coffee.id %>/edit">
  <input type="submit" name="submit" value="Edit coffee">
</form>
<form method="POST" action='/coffees/<%=listed_coffee.id%>/delete'>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete coffee">
</form>
<% end %>
<a href='/coffees/new'>Add a coffee</a>