<div class="row m-auto">
  <div class="col">
    <h4 class="navbar-karla-style-link">
      <strong><%= @coffeelist.list_name %></strong>
      <br>
      <small class="text-muted"><%=@coffeelist.coffees.count%> entries</small>
    </h4>
  </div>
</div>
<div class="col vw-100 align-items-center m-auto">
<div class="d-sm-inline-flex flex-row flex-sm-wrap justify-content-center">
<% @coffeelist.coffees.each do |listed_coffee| %>
<div class="card m-sm-3" style="width: 25rem;">
      <div class="card-header bg-success text-truncate">
        <span class="card-title text-dark text-uppercase"><%= listed_coffee.name %></span>
      </div>
      <div class="card-body">
        <div class="card-text">
          <dl class="row">
            <dt class="col-sm-5">Prep Method</dt>
              <dd class="col-sm-7"><%= listed_coffee.prep_method %></dd>
            <dt class="col-sm-5">Origin</dt>
              <dd class="col-sm-7"><%= listed_coffee.origin %></dd>
            <dt class="col-sm-5">Roast</dt>
              <dd class="col-sm-7"><%= listed_coffee.roast %></dd>
            <dt class="col-sm-5">User rating</dt>
              <dd class="col-sm-7"><%= listed_coffee.rating %></dd>
            <dt class="col-sm-5">Notes</dt>
              <dd class="col-sm-12 text-truncate"><p><%= listed_coffee.notes %></p></dd>
          </dl>
        </div>
      </div>
      <div class="row justify-content-center m-sm-2 mb-sm-4">
        <div class="col-md-6">
          <form method="GET" action='#'>
            <input class="btn btn-dark form-control btn-block navbar-karla-style-link" type="submit" name="submit" value="Edit coffee">
          </form>
        </div>
        <div class="col-md-6">
          <form method="POST" action='#'>
            <input type="hidden" name="_method" value="DELETE">
            <input class="btn btn-danger form-control btn-block navbar-karla-style-link" type="submit" value="Delete coffee">
          </form>
        </div>
      </div>
    </div>  
    <% end %>
    </div>
    </div>
